/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap'); */
@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

.background-image {
  background: url(/heroImage.png) #eef8e9 !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position-x: right 60px !important;
  opacity: 1
  /* font-family: var(--font-urbanist), sans-serif !important; */
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eef8e9
  transition: background-color 0.3w ease;
  z-index: 1
} */


@media (max-width: 480px) {
  .background-image{
    /* opacity: 0.3 */
  }
}